body{
  background: black;
  color: #fff
}



body*{
  front-family: Ubuntu;
}

h1,h2,h3,h4,h5{

  front-weight: normal;
  margin: 0 ;
}

a,a:hover, a:visited{
  color: #fff;
  text-decoration: none;
}
